/** Icons */
.add {
  background-image:url('../icons/add.png') !important;
}

.cancel {
  background-image:url('../icons/cancel.png') !important;
}

.contacts {
    background-image: url('../icons/contacts.png') !important;    
}

.delete {
    background-image: url('../icons/delete.png') !important;
}

.employees {
    background-image: url('../icons/employees.png') !important;
}

.clear_filter {
  background-image:url('../icons/clear_filter.gif') !important;
}

.save_all {
  background-image:url('../icons/save_all.png') !important;
}


